.wy-table-responsive table td, .wy-table-responsive table th {
   white-space: inherit;
}
.wy-table-responsive table th {
   background-color: #f0f0f0;
}
.line-block, .docutils.footnote {
    line-height: 24px;
}
